##--------------------------------------------------------------------------------------------------------
#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder($SRC)};


public class ${entity.name}Impl implements ${entity.name} {
#foreach( $attribute in $entity.attributes)
    private final $attribute.type $attribute.name;
#end


    public ${entity.name}Impl(
#foreach($attribute in $entity.attributes)
                            $attribute.type $attribute.name#if ($foreach.hasNext), 
#end#end) {
#foreach( $attribute in $entity.attributes)
        this.$attribute.name = $attribute.name;
#end
    }
    

#foreach( $attribute in $entity.attributes)
    @Override
    public $attribute.type ${attribute.getterWithGetPrefix}() {
        return $attribute.name;
    }


#end
}